# deep learning
torch
lightning
wandb
normflows
git+https://gitlab.cern.ch/mleigh/mltools@dev_jona

# snakemake script debugging
typer

# config management
hydra-core

# data science & visualization
matplotlib
numpy
scipy
scikit-learn
