snakemake==7.32.4
snakemake-executor-plugin-slurm
invoke
git+https://gitlab.cern.ch/mleigh/mltools@dev_jona

# currently needed for snakemake not to break
# see (https://github.com/snakemake/snakemake/issues/2607)
pulp<2.8.0
